<h1>Calendario</h1>
<div>
  <%= month_calendar events: @reservations do |date, reservations| %>
    <%= date %>
    <% reservations.each do |reservation| %>
      <div>
        <span class="badge badge-info">Reservado</span>
      </div>
    <% end %>

  <% end %>
</div>
<div>
  <%= select_tag('room_id', options_for_select(Room.all.collect{ |u| [u.name, u.id] }), include_blank: true, onchange: "location.href='/?room_id='+$(this).val();") %>
</div>
